aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor==3.0.0
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp
youtube-search
youtube-search-python
gpytranslate
telegraph
httpx==0.25.2
lexica-api 
numpy
wget
git+https://github.com/AsmSafone/SafoneAPI
lexica-api==1.5.1
lyricsgenius
